 .dual-range-container {
    position: relative;
}

.range-input::-webkit-slider-thumb {
    position: relative;
    z-index: 100;
    width: 18px !important;
    height: 26px !important;
    border-radius: 5px !important;
}

.range-input::-moz-range-thumb {
    position: relative;
    z-index: 100;
    width: 18px !important;
    height: 26px !important;
    border-radius: 5px !important;
}

